$container-width: 100vw; // объявляем переменную для ширины контейнера
$container-height: 100vh; // объявляем переменную для высоты контейнера
$auth-width: 560px; // объявляем переменную для ширины блока авторизации
$auth-height: 615px; // объявляем переменную для высоты блока авторизации
$auth-bg-color: #fff; // объявляем переменную для цвета фона блока авторизации
$auth-link-color: #49aaf5; // объявляем переменную для цвета ссылки в блоке авторизации

.container {
  width: $container-width; // используем переменную для ширины контейнера
  height: $container-height; // используем переменную для высоты контейнера
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/BG_auth.png") center center no-repeat;
}

.auth {
  width: $auth-width; // используем переменную для ширины блока авторизации
  height: $auth-height; // используем переменную для высоты блока авторизации
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  background-color: $auth-bg-color; // используем переменную для цвета фона блока авторизации
  border-radius: 32px;
}

.auth-logo {
  width: 100px;
  height: 80px;
  margin-bottom: 30px;
}

.auth-link {
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  color: $auth-link-color; // используем переменную для цвета ссылки в блоке авторизации
}
