// определяем переменные
$border-color: #eaebed;
$border-color-active: #49aaf5;
$border-color-error: #ff4c4c;
$background-color: #fff;
$background-color-active: #f5fbff;
$font-size: 16px;
$font-weight: 400;
$color: #353535;
$color-placeholder: #eaebed;
$color-error: #ff4c4c;
$margin-top: 8px;
$margin-bottom: 16px;
$padding: 8px 16px;

// определяем стили для компонента
.input {
  display: block;
  width: 390px;
  height: 50px;
  padding: 8px 16px;
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  outline: none;
  border: 2px solid $border-color;
  border-radius: 6px;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;

  & ~ .showPassBtn {
    &.eyeOff {
      background: url("../../assets/eye-off_inactive.png");
    }

    &.eye {
      background: url("../../assets/eye_inactive.png");
    }
  }

  &:not(:placeholder-shown) {
    border-color: $border-color-active;
    background-color: $background-color-active;

    & ~ .showPassBtn {
      &.eyeOff {
        background: url("../../assets/eye-off.png");
      }

      &.eye {
        background: url("../../assets/eye.png");
      }
    }
  }

  &:focus {
    border-color: $border-color-active;
    background-color: $background-color;
  }

  &::placeholder {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color-placeholder;
  }
}

.error .input {
  margin-bottom: $margin-top; // используем ту же переменную для симметрии
  border-color: $border-color-error;
  background-color: $background-color;
}

.label {
  position: relative;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

.errorMessage {
  font-weight: $font-weight; // используем ту же переменную для единообразия
  font-size: (
    $font-size - 2
  ); // используем математическую операцию для задания размера шрифта
  color: $color-error;
  margin-bottom: $margin-bottom; // используем ту же переменную для симметрии
}

.showPassBtn {
  position: absolute;
  right: 16px;
  bottom: 13px;
  width: 24px;
  height: 24px;
  background-color: transparent;
}
